{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Авторизация</title>{% endblock %}

{% block styles %} <link rel="stylesheet" type="text/css" href="{% static 'shop/css/auth-content.css' %}">  {% endblock %}
{% block content %}



{% if form.errors %}
<p>Ваш логин и пароль не совпадают. Пожалуйста попробуйте снова.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к этой странице.
    Для продолжения, пожалуйста, войдите в аккаунт, который имет доступ.</p>
    {% else %}
    <p>Пожалуйста, войдите чтобы увидеть эту страницу.</p>
    {% endif %}
{% endif %}


<div class="registr-content">
        <div class="imgs">
            <img src="{% static 'shop/images/reg1.jpg' %}" alt="reg1" class="reg1">
            <img src="{% static 'shop/images/reg2.jpg' %}" alt="reg2" class="reg2">
        </div>
        <form method="post" action="{% url 'login' %}" class="form-area">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="but">Войдите</button>
            <input type="hidden" name="next" value="{{ next }}">
            <p>Нет аккаунта? </p><a href="/registration">Зарегистрируйтесь</a>
    </form>
</div>


{% endblock %}
