{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Профиль</title>{% endblock %}

{% block styles %} 
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'shop/css/auth-content.css' %}">   {% endcomment %}
{% endblock %}
{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ваш аккаунт не имеет доступа к этой странице.
    Для продолжения, пожалуйста, войдите в аккаунт, который имет доступ.</p>
    {% else %}
    <p>Пожалуйста, войдите чтобы увидеть эту страницу.</p>
    {% endif %}
{% endif %}


<div class="registr-content">
    <h2>Профиль пользователя</h2>
    {% comment %} <div class="imgs">
        <img src="{% static 'shop/images/reg1.jpg' %}" alt="reg1" class="reg1">
        <img src="{% static 'shop/images/reg2.jpg' %}" alt="reg2" class="reg2">
    </div>
    <form method="post" action="{% url 'login' %}" class="form-area">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="but">Войдите</button>
        <input type="hidden" name="next" value="{{ next }}">
        <p>Нет аккаунта? </p><a href="/registration">Зарегистрируйтесь</a>
    </form> {% endcomment %}
    <p>Логин: {{user.username}}</p>
    <p>Имя, отчество: {{user.first_name}}</p>
    <p>Фамилия: {{user.last_name}}</p>
    <p>Почта: {{user.email}}</p></br>
    {% comment %} <a href="/accounts/edit_profile/">Редактировать профиль</a></br> {% endcomment %}
    <a href="/order_list/">Список заказов</a></br>
    <a href="/accounts/logout/">Выйти из аккаунта</a></br>
</div>


{% endblock %}
