@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: NotoSerifRegular;
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf);
}
@font-face {
  font-family: NotoSerifItalic;
  src: url(../fonts/NotoSerif/NotoSerif-Italic.ttf);
}

body{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url('../images/bc.png');
  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;

  /* background-color: #c8c8c8; */
}
.megadiv{
  /* display: flex; */
  width: 1440px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(255, 255, 255, .5); */
}

@media screen and (max-width: 768px) {
  .megadiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}