.registr-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.imgs{
  display: flex;
  align-items: center;
  width: 55%;
}
.reg1{
  margin-top: -150px;
  margin-bottom: 100px;
}
.reg2{
  margin-top: 300px;
}
form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, .7); */
}
form span{
  text-align: center;
  display: flex;
  font-size: 28px;
  font-family: OpenSansBold;
  padding-bottom: 45px;
}
.input-row{
  display: flex;
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
}
input, textarea{
  width: 300px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-family: OpenSansRegular;
  padding-left: 30px;
  margin-bottom: 20px;
}
input::placeholder, textarea::placeholder{
  color: #fff;
}
textarea{
  padding-top: 10px;
}
input:focus, textarea:focus{
  outline: none
}
button.but{
  display: flex;
  width: 240px;
  height: 47px;
  border-radius: 30px;
  margin-top: 50px;
  color: #fff;
  background-color: #4F392F;
  font-family: OpenSansRegular;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
button:hover{
  cursor: pointer;
}
.helptext{
  /* font-size: 1rem; */
  font-size: .7rem;
}



@media screen and (max-width: 768px) {
  form{
    width: 60%;
  }
  .imgs{
    width: 40%;
    flex-direction: column;
  }
  .reg1{
    width: 242px;
    height: 315px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .reg2{
    width: 242px;
    height: 315px;
    margin-top: 60px;
  }
}

@media screen and (max-width: 768px) {
  .registr-content{
    flex-direction: column-reverse;
  }
  form{
    width: 100%;
  }
  .imgs{
    width: 100%;
    flex-direction: row;
  }
  form span{
    padding-bottom: 20px;
  }
  .input-row{
    width: 323.38px;
    height: 37px;
    margin: 12.5px;
    border-radius: 30px;
  }
  .imgs{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .reg1{
    width: 169px;
    height: 202px;
  }
  .reg2{
    width: 169px;
    height: 202px;
  }
}