.silk-content{
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 37px;
  flex-direction: row;
  justify-content: space-around;
}
.text-area{
  /* background-color: #fff; */
  width: 1150px;
}
.text-area p{
  font-family: OpenSansRegular;
  font-size: 16px;
  line-height: 26px;
}
.cuticuls{
  display: flex;
  flex-direction: column;
}
.cutic{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-family: OpenSansRegular;
  text-align: center;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .silk-content{
    width: 100%;
    flex-direction: row;
  }
  .silk-content > .text-area > span{
    display: none;
  }
  .text-area{
    margin-top: -30px;
  }
  .cuticuls{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 360px;
  }
  .silkp1, .silkp2{
    width: 328px;
    margin-left: 40px;
  }
  .silkp3, .silkp4{
    margin-left: 400px;
    width: 328px;
    display: flex;
    justify-self: flex-end;
  }
  .silkp3{
    margin-top: -400px;
  }
}

@media screen and (max-width: 414px) {
  .cuticuls{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  .silkp1, .silkp2{
    width: 279px;
    margin-left: 0px;
  }
  .silkp3, .silkp4{
    position: static;
    margin-top: 0px;
    margin-left: 0px;
    width: 328px;
    display: flex;
    justify-self: flex-end;
  }
  .silk-content{
    margin-top: 10px;
    flex-direction: row;
  }
  .text-area{
    margin-left: 10px;
  }
  .text-area p{
    font-size: 13px;
    line-height: 17.7px;
  }
  .silkp1, .silkp2, .silkp3, .silkp4{
    width: 279px;
  }
  .cuticuls{
    position: static;
    display: flex;
  }
  .cuticuls{
    margin-top: 30px;
    padding-right: 10px;
  }
  .cutic{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: OpenSansRegular;
    text-align: center;
    margin: 5px;
  }
}