body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url('../images/bc.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
input[type="text"]{
  display: flex;
  background-color: #BDB4A3;
  border-radius: 28px;
  width: 158px;
  height: 48px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
input[type="file"]{
  margin-top: 15px;
}
.catalog-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  padding: 0 30px;
  box-sizing: border-box;
}
.catalog-content > span{
  font-family: OpenSansBold;
  font-size: 28px;
  margin-left: 100px;
}
.catalog{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 37px;
  width: 100%;
  justify-content: center;
}
.card {
  width: 330px;
  height: 550px;
  background-color: #fff;
  box-shadow: 0px 4px 27px
  rgba(173, 164, 148, 0.19);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.card1 {
  width: 350px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0px 4px 27px rgba(173, 164, 148, 0.19);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba(0, 0, 0, .7); */
}
.img{
  display: flex;
  width: 78%;
  height: 45%;
  background-color: #c8c8c8;
  border-radius: 10px;
  margin-top: 29px;
}
.img > img{
  display: flex;
  width: 100%;
}
.card span.card-text-name{
  font-size: 16px;
  font-family: OpenSansBold;
  margin-top: 25px;
}
.card span.card-text-color{
  font-size: 15px;
  font-family: OpenSansRegular;
  margin-top: 5px;
}
.card span.card-text-price{
  font-size: 21px;
  font-family: OpenSansBold;
  margin-top: 27px;
}
.in-cart-button{
  display: flex;
  background-color: #BDB4A3;
  border-radius: 28px;
  width: 158px;
  height: 48px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.in-cart-button:hover{
  cursor: pointer;
}
.in-cart-button > span{
  font-family: OpenSansRegular;
  font-size: 16px;
  color: #fff;
}

