{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Корзина</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/registr-content.css' %}">
{% endblock %}
{% block content %}

<h1>Корзина</h1>

<style>
    th, td {
        padding: 10px;
    }

    th, td {
        background-color: transparent;
        /*background: #4F392F;*/
        color: #000;
        border: 2px solid #4F392F;
    }
</style>

<div class='catalog-content'>
    <div class='catalog'>
        {% if carts %}
            <form action='' method='post'>
                {% csrf_token %}
                <div class='card1'>
                    <table>
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Цвет</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Стоимость</th>
                        </tr>
                        {% for cart in carts %}
                            <tr>
                                <td>{{ cart.id }}</td>
                                <td>{{ cart.item.name }}</td>
                                <td>{{ cart.item.color }}</td>
                                <td>{{ cart.item.price }}</td>
                                <td>{{ cart.amount }}</td>
                                <td>{{ cart.value }}</td>
                                <td><a style="color: red;" href="add_cart/{{cart.id}}">+</a></td>
                                <td><a style="color: red;" href="remove_cart/{{cart.id}}">-</a></td>
                                <td><a style="color: red;" href="delete_cart/{{cart.id}}">Удалить</a></td>
                            </tr>
                        {% endfor %}
                        <th>Итого</th>
                        <td>{{total}}</td>
                        {% if user.is_regular %}
                        <td>Применена скидка постоянного клиента в 2%</td>
                        {% endif %}
                    </table>
                </div>
            </form>
            <a href="/create_order/">
            <input type='submit' class='in-cart-button' value='Оформить заказ' name=''>
            </a> 
        {% else %}
            <span>Корзина пуста</span>    
        {% endif %}    
    </div> 
</div>
{% endblock %}