{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Каталог</title>{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'shop/css/catalog.css' %}">{% endblock %}
{% block content %}
    <div class="catalog-content">
        <span>Каталог товаров</span>
        <div class="catalog">
            {% if items %}
                {% for item in items %}
                <div class='card'>
                    <div class="img">
                        <a href="/detail/{{item.id}}"><img src={{item.image.url}} alt="logo"></a>
                    </div>
                    <span class="card-text-name">{{ item.name}}</span>
                    <span class="card-text-color">Цвет: {{ item.color}}</span>
                    <span class="card-text-price">{{ item.price}} руб.</span>

                    <form action="/add_to_cart/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="submit" class="in-cart-button" value="В корзину" name="submiti">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                    </form>
                </div>    
                {% endfor %}
            {% else %}
                <span>Нет записей в таблице каталога</span>
            {% endif %}
        </div>
    </div>
{% endblock %}
