{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Главная</title>{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'shop/css/main-content.css' %}">{% endblock %}
  
{% block content %}
    <div class="main-content">
      <div class="figure-for-text">
        <span>Натуральный шелк — это главный секрет красоты XXI века</span>
        <div class="images-block">
          <img src="{% static 'shop/images/main1.png' %}" class="main-img-1" alt="1">
          <img src="{% static 'shop/images/main2.png' %}" class="main-img-2" alt="2">
        </div>
      </div>
    </div>
{% endblock %}
