{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}{% endblock %}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'shop/css/footer.css' %}">
  {% block styles %} {% endblock %}
  <link rel="shortcut icon" href="{% static 'shop/images/vklicon.png' %}" type="image/x-icon">
</head>
<body>
  <div class="megadiv">
    <div class="header">
      <div class="logo">
        <a href="/"><img src="{% static 'shop/images/logo.png' %}" alt="logo"></a>
      </div>
      <div class="nav">
        <a href="/"><span>Главная</span></a>
        <a href="/silk/"><span>Шёлк</span></a>
        <a href="/catalog/"><span>Каталог</span></a>
        {% if user.is_authenticated %}
        <a href="/profile/"><span>Профиль</span></a>
        {% else %}
        <a href="/accounts/login/"><span>Авторизация</span></a>
        {% endif %}
        <a href="/cart/"><span>Корзина</span></a>
      </div>
      <div class="burger btn-group dropleft">
        <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{% static 'shop/images/Hamburger_icon.svg.webp' %}" alt="..." width="35">
        </button>
        <div class="dropdown-menu transformst">
          <a href="/"><span>Главная</span></a>
          <a href="/silk/"><span>Шёлк</span></a>
          <a href="/catalog/"><span>Каталог</span></a>
          {% if user.is_authenticated %}
          <a href="/profile/"><span>Профиль</span></a>
          {% else %}
          <a href="/accounts/login/"><span>Авторизация</span></a>
          {% endif %}
          <a href="/cart/"><span>Корзина</span></a>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
        <div class="soc">
            <span class="text-bold">Мы в социальных сетях:</span>
            <div class="icons">
                <img src="{% static 'shop/images/vk.png' %}" alt="vk" width="20.33px" height="11.41px">
                <img src="{% static 'shop/images/face.png' %}" alt="facebook" width="10.45px" height="15.16px">
                <img src="{% static 'shop/images/twitter.png' %}" alt="twitter" width="18.3px" height="14.62px">
            </div>
        </div>
        <div class="sotr">
            <span class="text-bold">Сотрудничество:</span>
            <span>Рекламный партнер</span>
        </div>
        <div class="ur">
            <span class="text-bold">Юридическая информация:</span>
            <span>Пользовательское соглашение</span>
            <span>Политика конфиденциальности</span>
        </div>
        <div class="phones">
            <span class="text-bold">Телефоны:</span>
            <span>8 (908) 678 91</span>
            <span>8 (908) 123 45</span>
        </div>
        <div class="geo">
            <span class="text-bold">Местоположение:</span>
            <span>г. Ханты-Мансийск, <br> ул. Студенческая  7</span>
        </div>
    </div>
</body>
</html>
