{% extends "shop/main.html" %}
{% load static %}

{% block title %}<title>Информация о заказе</title>{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/css/registr-content.css' %}">
{% endblock %}
{% block content %}

<h1>Информация о заказе</h1>

<style>
    th, td {
        padding: 10px;
    }

    th, td {
        background-color: transparent;
        /*background: #4F392F;*/
        color: #000;
        border: 2px solid #4F392F;
    }
</style>

<div class='catalog-content'>
    <div class='catalog'>
        {% if ordercarts %}
            <form action='' method='post'>
                {% csrf_token %}
                <div class='card1'>
                    <table>
                        <tr>
                            <th>Название</th>
                            <th>Цвет</th>
                            <th>Количество</th>
                            <th>Стоимость</th>
                        </tr>
                        {% for ordercart in ordercarts %}
                            <tr>
                                <td>{{ ordercart.name }}</td>
                                <td>{{ ordercart.color }}</td>
                                <td>{{ ordercart.amount }}</td>
                                <td>{{ ordercart.value }}</td>
                            </tr>
                        {% endfor %}
                        <th>Итого</th>
                        <td>{{total}}</td>
                    </table>
                </div>
            </form> 
        {% else %}
            <span>Заказ отсутствует</span>    
        {% endif %}    
    </div> 
</div>
{% endblock %}